<section class="stories-section">
    <div class="stories-section__title section-title"><h2>Alumni Stories</h2></div>
    <div class="stories-section__container container-fluid">
        <div class="stories-section__row row">
            <div class="stories-section__item col-xl-4 col-md-6">
                <div class="item-container">
                    <div class="item-people">
                        <div class="item-people__image"><img src="{{path.smallImages}}/peoples/dalini-pillai.png" alt="Dalini Pillai" /></div>
                        <div class="item-people__content">
                            <h5>Dalini Pillai</h5>
                            <a href="https://linkedin.com/in/oleh-morhaliuk" target="_blank" rel="nofollow">linkedin.com/in/oleh-morhaliuk</a>
                        </div>
                    </div>
                    <div class="item-text">
                        Ryan is the Co-Founder of Pyroscrope, a software company that lets users continuously monitor servers to debug performance issues down to a line of code.Just ask bootcamp Joe Buono, musician.
                    </div>
                </div>
            </div>
            <div class="stories-section__item col-xl-4 col-md-6">
                <div class="item-container">
                    <div class="item-people">
                        <div class="item-people__image"><img src="{{path.smallImages}}/peoples/oleh-morhaliuk.png" alt="Oleh Morhaliuk" /></div>
                        <div class="item-people__content">
                            <h5>Oleh Morhaliuk</h5>
                            <a href="https://linkedin.com/in/oleh-morhaliuk" target="_blank" rel="nofollow">linkedin.com/in/oleh-morhaliuk</a>
                        </div>
                    </div>
                    <div class="item-text">
                        After the bootcamp, Kim landed her current job as a Software Engineer at Intellivision Entertainment, a company whose mission is to unite people through affordable, family-friendly entertainment.
                    </div>
                </div>
            </div>
            <div class="stories-section__item col-xl-4 col-md-6">
                <div class="item-container">
                    <div class="item-people">
                        <div class="item-people__image"><img src="{{path.smallImages}}/peoples/khalil-fleming.png" alt="Khalil Fleming" /></div>
                        <div class="item-people__content">
                            <h5>Khalil Fleming</h5>
                            <a href="https://linkedin.com/in/oleh-morhaliuk" target="_blank" rel="nofollow">linkedin.com/in/oleh-morhaliuk</a>
                        </div>
                    </div>
                    <div class="item-text">
                        Studying music has more to do with preparing for a career in software engineering than you might think. Just ask bootcamp Joe Buono, musician and Frontend Engineer at Amazon Web Services.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>