<!--Header-->
<div class="container-fluid header__container">
    <div class="row header__row">
        <div class="col-md-3 col-xs-3 start-xs  header__col">
            <a class="header-logo" href="{{global.siteUrl}}/">{{global.headerLogoText}}</a>
        </div>
        <div class="col-md-9 col-xs-9 end-xs  header__col">
            <div id="hamburger-button" class="header__hamburger-button">
                <span class="close-element--left"></span>
                <span class="close-element--hide"></span>
                <span class="close-element--right"></span>
            </div>
            <div id="menu-panel" class="header__menu-panel">
                <div class="header__menu">
                    {{#each menu.header}}
                        <a class="header__menu-item" href="{{global.siteUrl}}/{{ this.page }}">{{ this.label }}</a>
                    {{/each}}
                </div>
                <div class="header__images-list">
                    <a class="header__images-list-item" href="https://github.com/Medusa-ML" target="_blank" rel="nofollow">
                        <img height="40" src="{{path.icons}}/medusa.png" alt="Medusa" rel="preload" />
                    </a>
                    <a class="header__images-list-item" target="_blank" rel="nofollow" href="https://inoxoft.com/">
                        <img height="24" src="{{path.icons}}/inoxoft.png" alt="Inoxoft" rel="preload" />
		            </a>
                    <a class="header__images-list-item" href="https://ventures.nextfab.com/" target="_blank" rel="nofollow">
                        <img height="24" src="{{path.icons}}/nfv.png" alt="NextFab" rel="preload" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
