.images-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 62px;

  @include breakpoint-l-max {
    margin-top: 45px;
  }

  &__item {
    max-width: 136px;

    @include breakpoint-sm-max {
      max-width: 82px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &-image {
      width: 100%;
      height: auto;
    }
  }
}