.main-image-section {
  padding: 84px 0 88px $fluidBlocksPadding;

  @include breakpoint-l-max {
    padding: 84px 0 88px 0;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint-l-max {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include breakpoint-xs-max {
    padding: 23px $blocksPadding 56px $blocksPadding;
  }

  &__col {

    &--text {
      flex: 0 0 calc(64.93% - 60px);
      max-width: calc(64.93% - 60px);

      padding-right: 60px;

      @include breakpoint-l-max {
        flex: 0 0 100%;
        max-width: 100%;

        padding-right: 0;
      }

      .title {
        max-width: 657px;

        @include breakpoint-l-max {
          margin-top: 40px;
        }
      }
      .content {
        max-width: 707px;

        @include breakpoint-l-max {
          text-align: center;
        }

        p {
          text-align: left;
        }
      }
    }

    &--image {
      position: relative;

      flex: 0 0 35.07%;
      max-width: 35.07%;

      @include breakpoint-l-max {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:before {
        position: absolute;

        overflow: hidden;

        top: -$fluidBlocksPadding;
        right: -$fluidBlocksPadding;

        z-index: -1;

        content: url("../img/backgrounds/big-image-background.png");

        width: 445px;
        height: 541px;

        @include breakpoint-sm-max {
          top: -23px;
          right: -$blocksPadding;

          width: 238px;
          height: 303px;

          content: url("../img/backgrounds/big-image-background-mob.png");
        }
      }

      .big-image {
        max-width: 505px;
        width: 100%;
        height: auto;
      }
    }
  }
}