<section class="container-fluid image-text-section">
    <div class="image-text-section__col image-text-section__col--image">
        <picture class="big-image__wrapper">
            <source srcset="{{path.bigImages}}/bootcamp/brad-big-image-mob.jpg" media="(max-width: 599px)">
            <img class="big-image" src="{{path.bigImages}}/bootcamp/brad-big-image.jpg" alt="Bootcamp woman image">
        </picture>
    </div>
    <div class="image-text-section__col image-text-section__col--text">
        <div class="title"><h2>Become a Data Engineer.<br /> Get Paid.</h2></div>
        <div class="content">
            <p>In this course, mentored <span class="mark mark--yellow">by Brad Flaugher</span>, Audigent’s VP of Product and Strategy you will learn how working with and understanding data can steadily nourish your career as a software developer.</p>
            <p>Learning programming in a “Data-Focused” way means that so long as there are customers and users generating data you will always be gainfully employed. What’s more, you’ll learn how ‘reading data’ can unlock the growth potential for businesses, regardless of size.</p>
            <p>The course will combine:<br /> 💻🧑live online sessions with assignments <br /> 🎓 workshops to deliver hands-on experience with real data.</p>
            <ul class="images-list">
                <li class="images-list__item">
                    <img class="images-list__item-image" src="{{path.smallImages}}/logos/nextfab.png" alt="Nextfab">
                </li>
                <li class="images-list__item">
                    <img class="images-list__item-image" src="{{path.smallImages}}/logos/audigent.png" alt="Audigent">
                </li>
                <li class="images-list__item">
                    <img class="images-list__item-image" src="{{path.smallImages}}/logos/inoxoft.png" alt="Inoxoft">
                </li>
            </ul>
        </div>
    </div>
</section>