<section class="container images-cols-section">
    <div class="row">
        <div class="images-cols-section__item col-md-4 col-sm">
            <div class="item-image"><img src="{{path.smallImages}}/general/laptop-man.png" alt="Learn Data Engineering" /></div>
            <div class="item-text">Learn Data Engineering and Machine Learning</div>
        </div>
        <div class="images-cols-section__item col-md-4 col-sm">
            <div class="item-image"><img src="{{path.smallImages}}/general/world.png" alt="Join our learning community" /></div>
            <div class="item-text">Join our learning community (we'll support each other after you get hired)</div>
        </div>
        <div class="images-cols-section__item col-md-4 col-sm">
            <div class="item-image"><img src="{{path.smallImages}}/general/money.png" alt="Pay only" /></div>
            <div class="item-text">Pay only when you land<br /> a sweet job</div>
        </div>
    </div>
</section>