<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{global.fontFamilyName}}">
    <link rel="stylesheet" href="css/styles.min.css" />

    <title>{{ title }}{{global.metaTitleDelimiter}}{{global.siteName}}</title>
    <link rel="icon" type="image/x-icon" href="{{path.icons}}/favicon.png">
    <meta name="description" content="{{ metaDescription }}">

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ global.siteName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:url" content="{{ global.siteName }}" />

    <meta property="og:image" content="{{ path.imagesSocial }}/social-img.jpg"  />
    <meta property="og:image:url"  content="{{ path.imagesSocial }}/social-img.jpg"  />
    <meta property="og:image:secure_url" content="{{ path.imagesSocial }}/social-img.jpg" />
    <meta property="twitter:image" content="{{ path.imagesSocial }}/social-img.jpg"  />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

  </head>
  <body id="body" class="page-{{page}}">
    <header class="header">{{> header }}</header>

    <main class="main">{{> body }}</main>

    <footer class="footer">{{> footer }}</footer>

    <script id="chart-scr" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script id="chart-datalabels-scr" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script id="main-scr" src="js/main.min.js"></script>
    <script id="chart-main-scr" src="js/main-chart.js"></script>
  </body>
</html>
