<section class="text-video-section container-fluid">
    <div class="text-video-section__col text-video-section__col--text">
        <div class="title"><h2>Final Project Example</h2></div>
        <div class="content">
            <p>This could be you! Oleh was one of our star students from the 2021 bootcamp. He created a fantastic model (as well as a frontend for it) that predcits the sale price of a car from its photo. </p>
            <p>Check it out!</p>
        </div>
    </div>
    <div class="text-video-section__col text-video-section__col--video">
        <iframe
                width="724"
                height="406"
                src="https://www.youtube.com/embed/I-KL-mWF548?controls=0"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>

        </iframe>
    </div>
</section>