<section class="text-video-section container-fluid">
    <div class="text-video-section__col text-video-section__col--text">
        <div class="title"><h2>Final Project Example</h2></div>
        <div class="content">
            <p>This could be you! Oleh was one of our star students from the 2021 bootcamp. He created a fantastic model (as well as a frontend for it) that predcits the sale price of a car from its photo. </p>
            <p>Check it out!</p>
        </div>
    </div>
    <div class="text-video-section__col text-video-section__col--video">
        <iframe
                width="724"
                height="406"
                src="https://www.youtube.com/embed/I-KL-mWF548?controls=0&showinfo=0"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{text-align: center; font: 48px/1.5 sans-serif;color: #909090; border: 4px solid #909090; border-radius: 50%; width: 86px; height: 76px; left: 0; right: 0; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;}</style><a href=https://www.youtube.com/embed/I-KL-mWF548?controls=0&showinfo=0><img src=https://img.youtube.com/vi/I-KL-mWF548/maxresdefault.jpg alt='Final Project Example'><span>▶</span></a>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                title="The Dark Knight Rises: What Went Wrong? – Wisecrack Edition"
        ></iframe>
    </div>
</section>