<section class="container-fluid main-image-section main-image-section--l-reverse main-image-section--l-no-padding-bottom">
    <div class="main-image-section__col main-image-section__col--text">
        <div class="title"><h1>Whoops... this page<br /> is not available </h1></div>
        <div class="content">
            <h6>Error 404.</h6>
            <p>The link is broken or the page has been moved.</p>
            <a class="button button--green" href="index.html">GO BACK HOME</a>
        </div>
    </div>
    <div class="main-image-section__col main-image-section__col--image">
        <picture class="big-image__wrapper">
            <source srcset="{{path.bigImages}}/404/404-big-image-mob.png" media="(max-width: 1269px)">
            <img width="505" height="581" class="big-image" src="{{path.bigImages}}/404/404-big-image.png" alt="404 big image">
        </picture>
    </div>
</section>